<div class="card">
  <div class="flex flex-row flex-wrap card-container">
    <img src="{{character.image}}">
    <div>
      <p>Name: {{character.name}}</p>
      <p>Specie: {{character.species}}</p>
      <p>Type: {{character.type}}</p>
      <p>Gender: {{character.gender}}</p>
      <p>Origin: {{character.origin.name}}</p>
      <p>Location: {{character.location.name}}</p>

    </div>
  </div>
</div>

<!-- <table>
  <td><img src="{{character.image}}"></td>
  <td>{{character.name}}</td>
  <td>{{character.species}}</td>
  <td>{{character.type}}</td>
  <td>{{character.gender}}</td>
  <td>{{character.origin.name}}</td>
  <td>{{character.location.name}}</td>
  <div *ngFor="let episode of character.episodes">
    <td>{{episode}}</td>
  </div>
</table> -->
